html {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #292026;
  text-align: center;
  background-image: url("../src/img/image.jpg");
  background-position: center;
  background-repeat: repeat;
}
.danger {
  width: 80%;
  height: 30px;
  padding: 2px;
  margin-left: 10px;
  border: solid 4px red;
}
.dangergenre {
  background-color: red;
}
